.git
.github
.tooling
.DS_Store
.env
.env.*
!.env.example
**/.env
**/.env.*
!**/.env.example
node_modules
**/node_modules
**/dist
**/coverage
**/build
**/.dart_tool
services/api/storage
**/*.pem
**/*.p8
**/*.p12
**/*.jks
**/*.keystore
**/*.mobileprovision
**/google-services.json
**/GoogleService-Info.plist
apps
!apps/
apps/*
!apps/admin-web/
!apps/admin-web/**
deploy/*
!deploy/deep-links/
deploy/deep-links/*
!deploy/deep-links/site/
deploy/deep-links/site/*
!deploy/deep-links/site/join/
!deploy/deep-links/site/join/**
docs
*.md
