.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
build/
coverage/
*.iml
.idea/
.vscode/
android/.gradle/
android/local.properties
android/key.properties
android/app/*.jks
android/app/*.keystore
android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
ios/Pods/
ios/.symlinks/
ios/Flutter/ephemeral/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Runner/GeneratedPluginRegistrant.*
*.mobileprovision
*.p12
*.cer
*.pem
.env
.env.*
!.env.example
