[
  {
    "relation": [
      "delegate_permission/common.handle_all_urls"
    ],
    "target": {
      "namespace": "android_app",
      "package_name": "com.tooyei.translator",
      "sha256_cert_fingerprints": [
        "REPLACE_WITH_RELEASE_CERT_SHA256_FINGERPRINT"
      ]
    }
  }
]
